.container {
  display: grid;
  grid-template-areas: "search"
                       "sections";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  margin: 0.5rem;
  row-gap: 0.5rem;
}

.search {
  grid-area: search;
  justify-self: center;
}
